label, input{
    justify-content: center;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
label{
    margin-right:.3rem;
}
input{
    border: 1px solid currentColor;
    background-color: rgb(202, 199, 247, 0.5);
}